@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white;
}


:root {
  --primary-bg-color: #f0fdf4; /* Light mode background */
  --primary-text-color: #54644c; /* Olive green */
  --secondary-text-color: #5c4b51; /* Beige gold */
}

[data-theme="dark"] {
  --primary-bg-color: #121212; /* Dark mode background */
  --primary-text-color: #bc9c74; /* Beige gold */
  --secondary-text-color: white; /* Beige gold */
}