@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white;
}


:root {
  --primary-bg-color: #f5fff7;
  --secondary-bg-color: #ffffff;
  --primary-text-color: #22c55e;
  --secondary-text-color: #334155;
}

[data-theme="dark"] {
  --primary-bg-color: #121212;
  --secondary-bg-color: #1f2937;
  --primary-text-color: #4ade80;
  --secondary-text-color: #e5e7eb;
}
